include MANIFEST.in

include TODO*
include README*
include NOTICES*
include AUTHORS*
include CHANGES*
include HISTORY*
include INSTALL*
include LICENSE*
include COPYRIGHT*
include CONTRIBUTORS*
include CONTRIBUTING*

graft doc[s]
graft test[s]
graft extra[s]
graft example[s]

prune logs
prune env*
prune ENV*
prune lib
prune var
prune dist
prune eggs
prune venv*
prune build
prune lib64
prune parts
prune sdist
prune wheels
prune downloads
prune notebooks
prune playground
prune docs/_build
prune develop-eggs

global-exclude .* *~
global-exclude *.py[cod]
global-exclude *\$py.class
global-exclude __pycache__
global-exclude Desktop.ini
global-exclude \$RECYCLE.BIN
global-exclude Temporary?Items
global-exclude Network?Trash?Folder
global-exclude *.cab *.msi *.msm *.msp *.lnk
global-exclude htmlcov nosetests.xml coverage.xml
global-exclude Thumbs.db ehthumbs.db ehthumbs_vista.db
global-exclude pip-log.txt pip-delete-this-directory.txt
