[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "*"
sphinxcontrib-napoleon = "*"
sphinx_bootstrap_theme = "*"
sphinx-autobuild = "*"

[packages]

[requires]
python_version = "3.6"
